# Ignore dataset (PCAPs)
*.pcap
*.pcapng
*.pcap.gz
*.zip
*.csv

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Results that may be large
results/logs/*
results/metrics/*
